<div>
    <h2 style="margin-left: 80px;">Update classes</h2>
    <form class="form-add">
        <mat-form-field appearance="fill">
            <mat-label>Classes subject</mat-label>
            <input matInput type="text" placeholder="classessubject" [(ngModel)]="classes.subject" name="classessubject">
        </mat-form-field>
        <br><br>

        <mat-form-field>
            <mat-label>Choose date</mat-label>
            <input matInput type="date" placeholder="choose a new date" [(ngModel)]="classes.date" name="classesdate">
        </mat-form-field>
        <br><br><br>

        <button class="button-add" (click)="updateClasses()">Update</button>
    </form>
</div>
