<div>
    <h2>Register for a course</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Course name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td><input type="radio" name="radiogroup"  [value]="course.id" (change)="onSelectionChange(course)"></td>
                <td>{{course.name}}</td>
            </tr>
        </tbody>
    </table>
    <br>

    <button mat-raised-button (click)="addRegister()">Register</button>
</div>