.radio-group{
    display: inline-flex;
    flex-direction: column;
 }
 .radio-button{
    margin: 5px;
 }

 .btn-add{
    margin-left: 80px;
 }

 
h2{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   text-align: center;
   margin-top: 20px;
 }