<div>
    <h2>Assign class unit to course: {{course.name}}</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>ClassUnit name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classUnit of classUnits">
                <td><input type="radio" name="radiogroup" [value]="classUnit.id" (change)="onSelectionChange(classUnit)"></td>
                <td>{{classUnit.name}}</td>
                <td><button (click)="addToCourse()">Add to course</button></td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
    <button class="btn-add" routerLink="/admin/course-list" mat-raised-button >Go back to courses list</button>
</div>